@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: #FFFFFF;
}

/* ----------------CSS for desktop content1---------------- */
.content1 {
    background-color: #F4F6F9; 
    display: flex;
    width: 100%;
    padding-bottom: 100px;
}

.sports { 
   width: 40%;
   margin-left: 100px;
   margin-top: 60px;
}

.sports>h3 {
    width: 546px;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #333333;
    margin: 100px 0px 30px 0px;
}

.sports>p {
    width: 453px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #4F4F4F;
    margin-bottom: 50px;
}

.google-img {
    margin-left: 35px;
}

.img-cont1 {
    display: flex;
}

.sports-images {
    width: 60%;
}

.sports-images>img {
    width: 100%;
}


@media screen and (max-width: 1200px) {
    .sports-images {
        display: none;
    }
}

/* ----------------Media for mobile content1---------------- */

@media screen and (max-width: 720px) {
    .content1 {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .sports {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        margin-top: 40px;
    }

    .sports>h3 {
        width: 320px;
        font-size: 30px;
        line-height: 40px;
        margin-top: 50px;
    }

    .sports>p {
        width: 320px;
        font-size: 16px;
        line-height: 23px;
    }

    .google-img {
        margin-left: 10px;
    }

    .img-cont1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sports-images {
        display: none;
    }
}


/* ----------------CSS for desktop content2---------------- */
.content2 {
    display: flex;
}

.content2-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-image: linear-gradient(to left, #FFFFFF 2%, transparent 80%), url("./images/Rectangle.png");
}

.experience {
    width: 50%;
    padding: 100px 0px 100px 100px;
}

.experience h4 {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
}

.experience h3 {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    margin-top: 30px;
}

.experience p {
    width: 80%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #4F4F4F;
    margin-top: 30px;
    margin-bottom: 30px;
}

.experience a {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
    text-decoration: none;
}

/* ----------------Media for mobile content2---------------- */
@media screen and (max-width: 720px) {
    .content2 {
        display: flex;
        flex-direction: column-reverse;
    }
    .experience {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin-top: 40px;
    }

    .experience h4 {
        width: 320px;
    }

    .experience h3 {
        width: 320px;
    }

    .experience p {
        width: 320px;
    }

    .experience a {
        width: 320px;
    }

    .content2-img {
        width: 100%;
        background-image: url("./images/Rectangle.png");
        margin-top: 40px;
    }
}

/* ----------------CSS for desktop content3---------------- */
.content3 {
    display: flex;
    width: 100%;
}

.content3-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.content3-img img {
    width: 80%;
}

@media screen and (max-width: 720px) {
    .content3 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .content3-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 40px;
    }
    
    .content3-img img {
        width: 100%;
    }
}

/* ----------------CSS for desktop content4---------------- */

.content4 {
    display: flex;
    flex-direction: column;
    background-color: #00ADEE;
    justify-content: center;
    align-items: center;
    padding: 50px 100px 50px 100px;
}

.content4 h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 50px;
}

.block {
    max-width: 100%;
}

.content p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
}

/* ----------------CSS for mobile content4---------------- */

@media screen and (max-width: 1000px) {
    .content {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 720px) {
    .content4 {
        padding: 50px 25px 50px 25px;
        background-color: #FAFAFA;;
    }

    .content {
        grid-template-columns: 1fr;
    }

    .block {
        display: flex;
        width: 311px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .content4 h3 {
        color: #333333;
    }

    .content4 p {
        color: #4F4F4F;
    }

    .svg-icon {
        fill: #00ADEE;
    }
}

/* ----------------CSS for desktop content5---------------- */
.content5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px 50px 0px;
}

.content5 h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    margin-bottom: 60px;
}

.content5-img {
    display: flex;
    gap: 20px;
}

.content5-img img {
    width: 90%;
}

.slider {
    margin-top: 50px;
}

/* ----------------CSS for mobile content5---------------- */

@media screen and (max-width: 720px) {
    .content5-img img {
        width: 100%;
    }

    .img1 {
        display: none;
    }

    .img2 {
        display: none;
    }

    .img4  {
        display: none;
    }

    .img5 {
        display: none;
    }

    
}